@use "./utils/variables" as v;
@use "./utils/mixins" as m;
@use "./base/body";
@use "./base/link";
@use "./layouts/logo";

header {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    min-height: 90px;
    background-color: v.$fond_1;
    padding-top: 30px;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    .container {
        width: 25%;
        position: relative;
        left: 7%;
    }
    .tags {
        box-sizing: border-box;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        margin: 0;
        &__help {
            position: absolute;
            font-size: 18px;
            font-weight: 700;
            padding: 3px 10px;
            background-color: v.$secondaire;
            border-radius: 7px;
            align-self: center;
            top: -50px;
            // cible finale -> top: -10px;
            display: block;
        }
        &__liste {
            display: flex;
            flex-direction: row;
            margin-top: 14px;
            .tag {
                font-size: 12px;
                font-weight: 500;
                color: v.$primaire;
                border: 0.5px solid v.$shadow;
                border-radius: 11px;
                padding: 3px 5px;
                margin: 3px;
            }
        }
    }
    h1 {
        box-sizing: border-box;
        width: 25%;
        font-size: 2em;
        white-space: nowrap;
        margin: -5px 0 0 0;
        padding: 0 5px;
        color: v.$primaire;
    }
}
#main {
    width: 100%;
    position: relative;
    top: 110px;
    .photographers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        .photographer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30%;
            height: fit-content;
            
            &__card {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                height: 270px;
                margin: 0;
                background-color: v.$fond_2;
                &__img {
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    box-shadow: 4px 4px 8px v.$shadow;
                    object-fit: cover;
                }
                &__name {
                    
                    color: v.$secondaire;
                    font-size: 36px;
                    margin: 10px 0 0 0;

                }
            }
            &__legend {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                box-sizing: border-box;
                margin: 0 0 20px 0;
                &__city {
                    font-size: 13px;
                    color: v.$primaire;
                    margin: 2px;
                }
                &__slogan {
                    font-size: 10px;
                    color: v.$txt_1;
                    margin: 2px;
                }
                &__price {
                    font-size: 9px;
                    color: v.$tertiaire;
                    margin: 2px;
                }
                &__tags {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    &__tag {
                        font-size: 12px;
                        font-weight: 500;
                        color: v.$primaire;
                        border: 0.5px solid v.$shadow;
                        border-radius: 11px;
                        padding: 3px 5px;
                        margin: 3px;
                    }
                }
            }
        } 
    }
}