@use "./utils/variables" as v;
@use "./base/body";
@use "./base/link";
@use "./layouts/header";


#main {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-top: 110px;
    padding-bottom: 60px;
    user-select: none;
    cursor: default;
    h1 {
        z-index: 1;
        position: fixed;
        top: 40px;
        right: 0;
        width: fit-content;
        box-sizing: border-box;
        text-align: center;
        font-size: 2em;
        white-space: nowrap;
        margin: 0 5% 0 0;
        padding: 0;
        color: v.$primaire;
        outline: none;
        &:focus {
            color: v.$txt_0;
        }
    }
    .photographers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        .photographer {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 33.3%;
            min-width: 400px;
            padding: 15px 35px;
            height: fit-content;
            &__card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                height: fit-content;
                margin: 0;
                padding: 10px 0 0 0;
                &:focus {
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid v.$txt_0;
                }
                &__img {
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    box-shadow: 4px 4px 8px v.$shadow;
                    object-fit: cover;
                    margin: 0;
                }
                &__name {
                    padding: 0;
                    color: v.$txt_0;
                    font-size: 2.25em;
                    margin: 10px 0 0 0;

                }
            }
            &__legend {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding: 5px;
                margin: 0 0 5px 0;
                &:focus {
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid v.$txt_0;
                }
                &__city {
                    font-size: 0.85em;
                    color: v.$primaire;
                    margin: 2px;
                }
                &__slogan {
                    font-size: 0.75em;
                    color: v.$txt_1;
                    margin: 2px;
                }
                &__price {
                    font-size: 0.65em;
                    color: v.$tertiaire;
                    margin: 2px;
                }
                &__tags {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    &:focus {
                        outline: none;
                        width: fit-content;
                        align-self: center;
                        border-radius: 15px;
                        border-bottom: 1px solid v.$txt_0;
                    }
                    &__tag {
                        font-size: 0.75em;
                        font-weight: 500;
                        color: v.$primaire;
                        border: 0.5px solid v.$shadow;
                        border-radius: 11px;
                        padding: 3px 5px;
                        margin: 3px;
                        &:hover, &:focus {
                            color: v.$txt_2;
                            background-color: v.$primaire;
                        } 
                    }
                }
            }
        } 
    }
}