@use "./utils/variables" as v;
@use "./utils/mixins" as m;
@use "./base/body";
@use "./base/link";
@use "./layouts/header";

header {
    position: relative;
    z-index: 0;
    .container {
        .logo-1 {
            position: absolute;
            z-index: 0;
        }
        .logo-2 {
            z-index: 0;
        }
    }
}
#main {
    width: 100%;
    top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    user-select: none;
    cursor: default;
    .photographer {
        box-sizing: border-box;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 313px;
        padding: 0 50px;
        background-color: v.$fond_2;
        &__card {
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 75%;
            &__contact {
                display: flex;
                flex-direction: row;
                justify-content: left;
                width: 100%;
                &__name {
                    color: v.$secondaire;
                    font-size: 4em;
                    margin: 0 10% 0 0;
                }
                &__btn {
                    @include m.police--texte;
                    min-width: 170px;
                    height: 69px;
                    border: none;
                    border-radius: 5px;
                    background-color: v.$primaire;
                    font-size: 1.25em;
                    font-weight: 700;
                    color: v.$txt_2;
                    margin: 5px 0 0 0;
                    box-shadow: 3px 2px 5px v.$shadow;
                    cursor: pointer;
                    &:focus, &:hover {
                        color: v.$txt_1;
                        background-color: v.$secondaire;
                    }
                }
            }
        }
        &__legend {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: left;
            box-sizing: border-box;

            &__city {
                font-size: 1.5em;
                color: v.$primaire;
                margin: 20px 0 0 0;
            }
            &__slogan {
                margin: 20px 0 15px 0;
                font-size: 1.125em;
                color: v.$tertiaire;
            }
            &__tags {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: left;
                &__tag {
                    font-size: 1.125em;
                    font-weight: 500;
                    color: v.$primaire;
                    border: 0.5px solid v.$shadow;
                    border-radius: 15px;
                    padding: 2px 8px 2px 5px;
                    margin-right: 6px;
                    &:hover, &:focus {
                        color: v.$txt_2;
                        background-color: v.$primaire;
                    } 
                }
            }
        }
        &__container {
            margin: 0;
            padding: 0;
            width: 25%;
            min-width: 200px;
            display: flex;
            justify-content: right;
            &__img {
                border-radius: 50%;
                width: 200px;
                height: 200px;
                box-shadow: 4px 4px 8px v.$shadow;
                object-fit: cover;
            }
        }
    }
    .portfolio {
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        width: 100%;
        &__menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            margin-left: 7.5%;
            width: 270px;
            line-height: 69px;
            &__title {
                margin-right: 15px;
                font-size: 1.125em;
                font-weight: 700;
            }
            &__btn {
                position: relative;
                cursor: pointer;
                &:hover #btn-select-menu, &:hover #btn-select-menu {
                    display: flex;
                }
                &--1 {
                    border: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0 20px;
                    align-items: center;
                    box-sizing: border-box;
                    box-shadow: 3px 2px 4px v.$shadow;
                    width: 170px;
                    height: 69px;
                    border-radius: 5px;
                    @include m.police--texte;
                    background-color: v.$primaire;
                    color: v.$txt_2;
                    font-size: 1.125em;
                    font-weight: 700;
                }
                &--2 {
                    position: absolute;
                    top: 0;
                    border: none;
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    box-sizing: border-box;
                    box-shadow: 3px 2px 4px v.$shadow;
                    width: 170px;
                    height: 170px;
                    padding: 0;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: v.$secondaire;
                    color: v.$txt_1;
                    font-size: 1.125em;
                    font-weight: 700;
                    z-index: 1;
                    &__option-1 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 0 20px;
                        width: 100%;
                        height: 69px;
                        line-height: 69px;
                        @include m.police--texte;
                        &-vue {
                            font-weight: 700;
                        }
                        &-icon {
                            font-weight: 700;
                        }
                    }
                    &__option-2, &__option-3 {
                        @include m.police--texte;
                        font-weight: 700;
                        box-sizing: border-box;
                        font-size: 1em;
                        height: 49px;
                        line-height: 49px;
                        text-align: left;
                        margin: 0 10px;
                        padding: 0 10px;
                        border-top: 1.5px solid v.$txt_2;
                    }
                }
            }
        }
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            box-sizing: border-box;
            //align-content: left;
            flex-wrap: wrap;
            padding: 20px 2%;
            width: 100%;
            &__card {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 33.33%;
                min-width: 380px;
                min-height: 350px;
                background-color: v.$fond_2;
                margin-bottom: 30px;
                position: relative;
                &__media {
                    width: 350px;
                    height: 300px;
                    border-radius: 5px;
                    object-fit: cover;
                    cursor: pointer;
                    position: relative;
                    &__icon {
                        position: absolute;
                        transform: translate(-50%, -50%);
                        color: v.$secondaire;
                        font-size: 4em;
                        opacity: 0.8;
                        top: 150px;
                        left: 50%;
                    }
                }
                &__legend {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 350px;
                    height: 50px;
                    line-height: 2.25emem;
                    color: v.$primaire;
                    padding: 3px;
                    box-sizing: border-box;
                    font-weight: 400;
                    &__title {
                        font-size: 1.5em;
                        margin: 0 10px 0 0;
                    }
                    &__like {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        &__cunt {
                            font-weight: 500;
                            font-size: 1.5em;
                            margin: 0;
                        }
                        &__empty {
                            font-size: 1.25em;
                            margin: 0 0 0 5px;
                        }
                    }
                    
                }
            }
        }
    }
}
.lightbox {
    user-select: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: v.$fond_2;
    &__content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        &__container {
            box-sizing: border-box;
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            width: 90%;
            height: 100%;
            margin: 0;
            padding: 40px 0 20px 0;
            &__media {
                width: fit-content;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                &__insert {
                    margin: 0;
                    width: 100%;
                    height: 97%;
                    object-fit:scale-down;
                }
                &__title {
                    align-items: left;
                    height: 3%;
                    margin: 5px 0 0 0;
                    color: v.$primaire;
                    font-size: 24px;
                }
            } 
        }
        &__icon {
            &__close {
                box-sizing: border-box;
                font-size: 45px;
                color: v.$primaire;
                position: absolute;
                cursor: pointer;
                right: 0;
                top: 40px;
            }
            &--right, &--left {
                font-size: 45px;
                color: v.$primaire;
                cursor: pointer;
            }
        }
    } 
}
.contact {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.7);
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 4px 5px 10px v.$tertiaire;
        position: relative;
        width: 50%;
        height: fit-content;
        padding: 10px 15px;
        margin: auto;
        background-color: v.$secondaire;
        &__title {
            align-content: center;
            box-sizing: border-box;
            width: 80%;
            margin: 0;
            font-size: 3.5em;
            user-select: none;
        }
        &__close {
            font-size: 3.5em;
            position: absolute;
            cursor: pointer;
            top: 20px;
            right: 20px;
            color: v.$txt_2;
        }
        &__body {
            box-sizing: border-box;
            font-size: 1em;
            color: v.$tertiaire;
            margin: 0;
            width: 100%;
            height: 100%;
            &__form {
                width: 100%;
                margin: 0;
                &__data {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 7px;
                    position: relative;
                    &__label {
                        user-select: none;
                        font-size: 1.7em;
                    }
                    &__control {
                        height: 30px;
                        padding: 5px 7px;
                        border: none;
                        border-radius: 5px;
                        font-size: 1.5em;
                        line-height: 25px;
                        @include m.police--texte;
                        &::placeholder {
                            font-size: 0.9em;
                            @include m.police--texte;
                            color: v.$tertiaire;
                            opacity: 0.5;
                        }
                    }
                    &__error {
                        &__first {
                            display: none;
                            position: absolute;
                            top: 11px;
                            right: 10px;
                            font-size: 1em;
                            color: v.$txt_2;
                            font-weight: 500;
                        }
                        &__last {
                            display: none; 
                            position: absolute;
                            top: 11px;
                            right: 10px;
                            font-size: 1em;
                            color: v.$txt_2;
                            font-weight: 500;
                        }
                        &__email {
                            display: none;
                            position: absolute;
                            top: 11px;
                            right: 10px;
                            font-size: 1em;
                            color: v.$txt_2;
                            font-weight: 500;
                        }
                        &__message {
                            display: none;
                            position: absolute;
                            top: 11px;
                            right: 10px;
                            font-size: 1em;
                            color: v.$txt_2;
                            font-weight: 500;
                        }
                    }
                }
                &__submit {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0 10px 0;
                    cursor: pointer;
                    &__btn {
                        border: none;
                        height: 69px;
                        width: 170px;
                        background-color: v.$primaire;
                        color: v.$txt_2;
                        border-radius: 5px;
                        @include m.police--texte;
                        font-size: 1.4em;
                        font-weight: 700;
                        box-shadow: 3px 2px 4px v.$shadow;
                        cursor: pointer;
                        &:focus, &:hover {
                            color: v.$txt_1;
                            background-color: v.$secondaire;
                            border: 0.5px solid v.$shadow;
                            box-shadow: 3px 2px 4px v.$tertiaire;
                        }
                    }
                    &__confirm {
                        display: block;
                        color: v.$txt_2;
                        font-size: 1.5em;
                        line-height: 2.25em;
                        font-weight: 700;
                        padding-right: 10px;
                    }
                }
            }
            
        }
    }
}
#message {
    height: 110px;
    resize: none;
    position: relative;
}
#message-counter {
position: absolute;
bottom: -20px;
right: 3.9em;
font-size: 0.8em;
user-select: none;
}
#message-max-length {
    bottom: -20px;
    right: 10px;
    position: absolute;
    font-size: 0.8em;
    user-select: none;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 370px;
    height: 60px;
    line-height: 60px;
    padding:  0 25px;
    background-color: v.$secondaire;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
}    