@use "./utils/variables" as v;
@use "./base/body";
@use "./base/link";


header {
    .container {
        width: 40%;
        .logo-1 {
            top: 30px;
            left: 8%;
        }
        .logo-2 {
            top: 30px;
            left: 8%;
            position: absolute;
        }
    }
}
#main {
    padding-top: 10px;
    .photographer {
        width: 100%;
        padding: 0 10%;
        height: 210px;
        &__card {
            &__contact {
                &__name {
                    font-size: 3em;
                    &:focus, &:active {
                        color: v.$secondaire;
                    }
                }
                &__btn {
                    position: fixed;
                    margin: 0;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    bottom: 0;
                    z-index: 1;
                    font-size: 1.125em;
                    padding: 5px 0;
                }
            }
        }
        &__legend {
            height: fit-content;
            justify-content: flex-end;
            &:focus, &:active {
                .photographer__legend__city {
                    color: v.$primaire;
                }
                .photographer__legend__slogan {
                    color: v.$tertiaire;
                }
            }
            &__city {
                font-size: 1.25em;
                padding: 5px 0 5px 0;
                margin: 0;
            }
            &__slogan {
                margin: 0;
                padding: 0 0 10px 0;
                font-size: 1em;
            }
            &__tags {
                margin: 5px 0 0 0;
                &:focus {
                    border: none;
                }
                &__tag {
                    font-size: 1em;
                }
            }
        }
        &__container {
            &__img {
                width: 190px;
                height: 190px;
                &:focus, &:active {
                    box-shadow: 4px 4px 8px v.$shadow;
                }
            }
        }
    }
    .portfolio {
        &__menu {
            display: none;
        }
        &__content {
            &__card {
                &__media {
                    &:focus {
                        border: none;
                    }
                }
                &__legend {
                    &__title {
                        &:focus {
                            font-weight: 400;
                            color: v.$primaire;
                        }
                    }
                    &__like {
                        &:focus, &:hover, &:active {
                            .portfolio__content__card__legend__like__empty {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}
.lightbox {
    &__content {
        width: 94%;
        &__container {
            &__media {
                &__insert {
                    &:focus {
                        border: none;
                    }
                }
                &__title {
                    font-size: 1.4em;
                    &:focus, &:active {
                        font-weight: 400;
                        outline: none;
                    }
                }
            }
        }
        &__icon {
            &__close {
            font-size: 35px;
            top: 20px;
            }
            &--right, &--left {
                font-size: 35px;
            }
        }
    }
}
.contact {
    &__content {
        width: 75%;
        &__title {
            font-size: 2.75em;
            &:focus, &:active {
                color: v.$txt_1;
            }
        }
        &__close {
            font-size: 3em;
            top: 12px;
        }
        &__body {
            &__form {
                &__data {
                    &__label {
                        font-size: 1.5em;
                        &:focus, &:active {
                            color: v.$tertiaire;
                            outline: none;
                        }
                    }
                    &__control {
                        font-size: 1.35em;
                        &:focus, &:active {
                            outline: none;
                            border: none;
                            color: v.$txt_1;
                        }
                    }
                    &__error {
                        &__first {
                            top: 9px;
                        }
                        &__last {
                            top: 9px;
                        }
                        &__email {
                            top: 9px;
                        }
                        &__message {
                            top: 9px;
                        }
                    }
                }
            }
        }
    }
}
.footer {
    display: none;
}