body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  font-style: normal;
  background-color: #fff;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 90px;
  background-color: #fff;
  padding-top: 30px;
  margin-bottom: 20px;
  position: fixed;
  z-index: 1;
}
header .container {
  width: fit-content;
}
header .container .logo {
  position: fixed;
  box-sizing: border-box;
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
  top: 35px;
  left: 5%;
  z-index: 1;
}
header .shortcut {
  position: absolute;
  font-size: 1.125em;
  font-weight: 700;
  padding: 3px 10px;
  margin-top: 0;
  background-color: #d3573c;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -200px;
  display: block;
}
header .tags {
  box-sizing: border-box;
  width: 50%;
  margin: 0 25% 0 21.5%;
  padding: 0;
}
header .tags__liste {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
header .tags__liste .tag {
  font-size: 0.75em;
  font-weight: 500;
  color: #901c1c;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  padding: 3px 5px;
  margin: 3px;
  cursor: pointer;
}
header #tag-selected {
  color: #fff;
  background-color: #d3573c;
}

header {
  position: relative;
  z-index: 0;
}
header .container .logo {
  position: absolute;
  z-index: 0;
}

#main {
  width: 100%;
  top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  user-select: none;
  cursor: default;
}
#main .photographer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 313px;
  padding: 0 50px;
  background-color: #fafafa;
}
#main .photographer__card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 75%;
}
#main .photographer__card__contact {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}
#main .photographer__card__contact__name {
  color: #d3573c;
  font-size: 4em;
  margin: 0 10% 0 0;
}
#main .photographer__card__contact__btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  min-width: 170px;
  height: 69px;
  border: none;
  border-radius: 5px;
  background-color: #901c1c;
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
  margin: 5px 0 0 0;
  box-shadow: 3px 2px 5px #c4c4c4;
  cursor: pointer;
}
#main .photographer__legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  box-sizing: border-box;
}
#main .photographer__legend__city {
  font-size: 1.5em;
  color: #901c1c;
  margin: 20px 0 0 0;
}
#main .photographer__legend__slogan {
  margin: 20px 0 15px 0;
  font-size: 1.125em;
  color: #525252;
}
#main .photographer__legend__tags {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}
#main .photographer__legend__tags__tag {
  font-size: 1.125em;
  font-weight: 500;
  color: #901c1c;
  border: 0.5px solid #c4c4c4;
  border-radius: 15px;
  padding: 2px 8px 2px 5px;
  margin-right: 6px;
}
#main .photographer__container {
  margin: 0;
  padding: 0;
  width: 25%;
  min-width: 200px;
  display: flex;
  justify-content: right;
}
#main .photographer__container__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 4px 4px 8px #c4c4c4;
  object-fit: cover;
}
#main .portfolio {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 100%;
}
#main .portfolio__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-left: 7.5%;
  width: 270px;
  line-height: 69px;
  /*&__btn {
      border: none;
      appearance: none;

      //display: flex;
      //flex-direction: row;
      //justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      box-sizing: border-box;
      box-shadow: 3px 2px 5px v.$shadow;
      min-width: 170px;
      height: 69px;
      border-radius: 5px;
      @include m.police--texte;
      background-color: v.$primaire;
      color: v.$txt_2;
      font-size: 1.125em;
      font-weight: 700;
      &__title, &__date {
          border-top: 1.5px solid v.$txt_2;
          text-align: center;
          padding: 0 20px;
          height: 69px;
      }
  }*/
}
#main .portfolio__menu__title {
  margin-right: 15px;
  font-size: 1.125em;
  font-weight: 700;
}
#main .portfolio__menu__btn {
  position: relative;
}
#main .portfolio__menu__btn:hover .portfolio__menu__btn--2 {
  display: flex;
}
#main .portfolio__menu__btn--1 {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 3px 2px 4px #c4c4c4;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background-color: #901c1c;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
}
#main .portfolio__menu__btn--2 {
  position: absolute;
  top: 0;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  box-shadow: 3px 2px 4px #c4c4c4;
  width: 170px;
  height: 170px;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #901c1c;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  z-index: 1;
}
#main .portfolio__menu__btn--2__option-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  height: 69px;
  line-height: 69px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background-color: #901c1c;
  color: #fff;
}
#main .portfolio__menu__btn--2__option-1-vue {
  font-weight: 700;
}
#main .portfolio__menu__btn--2__option-1-icon {
  font-weight: 700;
}
#main .portfolio__menu__btn--2__option-2, #main .portfolio__menu__btn--2__option-3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 1em;
  height: 49px;
  line-height: 49px;
  text-align: left;
  margin: 0 10px;
  padding: 0 10px;
  border-top: 1.5px solid #fff;
}
#main .portfolio__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 20px 2%;
  width: 100%;
}
#main .portfolio__content__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33.33%;
  min-width: 380px;
  min-height: 350px;
  background-color: #fafafa;
  margin-bottom: 30px;
  position: relative;
}
#main .portfolio__content__card__media {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}
#main .portfolio__content__card__media__icon {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #d3573c;
  font-size: 4em;
  opacity: 0.8;
  top: 150px;
  left: 50%;
}
#main .portfolio__content__card__legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 350px;
  height: 50px;
  line-height: 2.25emem;
  color: #901c1c;
  padding: 3px;
  box-sizing: border-box;
  font-weight: 400;
}
#main .portfolio__content__card__legend__title {
  font-size: 1.5em;
  margin: 0 10px 0 0;
}
#main .portfolio__content__card__legend__like {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#main .portfolio__content__card__legend__like__cunt {
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
}
#main .portfolio__content__card__legend__like__empty {
  font-size: 1.25em;
  margin: 0 0 0 5px;
}

.lightbox {
  user-select: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fafafa;
}
.lightbox__content {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.lightbox__content__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 40px 0 20px 0;
}
.lightbox__content__container__media {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.lightbox__content__container__media__insert {
  margin: 0;
  width: 100%;
  height: 97%;
  object-fit: scale-down;
}
.lightbox__content__container__media__title {
  align-items: left;
  height: 3%;
  margin: 5px 0 0 0;
  color: #901c1c;
  font-size: 24px;
}
.lightbox__content__icon__close {
  box-sizing: border-box;
  font-size: 45px;
  color: #901c1c;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 40px;
}
.lightbox__content__icon--right, .lightbox__content__icon--left {
  font-size: 45px;
  color: #901c1c;
  cursor: pointer;
}

.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.7);
}
.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 4px 5px 10px #525252;
  position: relative;
  width: 50%;
  height: fit-content;
  padding: 20px;
  margin: 50px;
  background-color: #d3573c;
}
.contact__content__title {
  align-content: center;
  box-sizing: border-box;
  width: 75%;
  margin: 0;
  font-size: 3.5em;
  user-select: none;
}
.contact__content__close {
  font-size: 3.5em;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  color: #fff;
}
.contact__content__body {
  box-sizing: border-box;
  font-size: 1em;
  color: #525252;
  margin: 0;
  width: 100%;
}
.contact__content__body__form {
  width: 100%;
  margin: 0;
}
.contact__content__body__form__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 7px;
  position: relative;
}
.contact__content__body__form__data__label {
  user-select: none;
  font-size: 1.7em;
}
.contact__content__body__form__data__control {
  height: 30px;
  padding: 5px 7px;
  border: none;
  border-radius: 5px;
  font-size: 1.4em;
  line-height: 25px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.contact__content__body__form__data__control::placeholder {
  font-size: 1em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #525252;
  opacity: 0.5;
}
.contact__content__body__form__data__error__first {
  display: none;
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.contact__content__body__form__data__error__last {
  display: none;
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.contact__content__body__form__data__error__email {
  display: none;
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.contact__content__body__form__data__error__message {
  display: none;
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.contact__content__body__form__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  line-height: 69px;
  cursor: pointer;
}
.contact__content__body__form__submit__btn {
  border: none;
  height: 69px;
  width: 170px;
  background-color: #901c1c;
  color: #fff;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  font-weight: 700;
  box-shadow: 2px 3px 10px #c4c4c4;
  cursor: pointer;
}
.contact__content__body__form__submit__confirm {
  display: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  padding-right: 10px;
}

#message {
  height: 90px;
  resize: none;
  position: relative;
}

#message-counter {
  position: absolute;
  bottom: -20px;
  right: 3.9em;
  font-size: 0.8em;
  user-select: none;
}

#message-max-length {
  bottom: -20px;
  right: 10px;
  position: absolute;
  font-size: 0.8em;
  user-select: none;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 370px;
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
  background-color: #d3573c;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}
