@use "../utils/variables" as v;
@use "../utils/mixins" as m;

body {
    display: block;
    @include m.police--texte;
    box-sizing: border-box;
    width: 100%;
    font-style: normal;
    background-color: v.$fond_1;
    margin: 0;
    position: relative;
}