@use "../utils/variables" as v;
@use "../base/body";
@use "../base/link";


header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 90px;
    background-color: v.$fond_1;
    padding-top: 30px;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    .container {
        width: fit-content;
        &:hover .logo-2, &:focus .logo-2 {
            opacity: 1;
        }
        .logo-1 {
            position: fixed;
            box-sizing: border-box;
            width: 200px;
            height: auto;
            margin: 0;
            padding: 0;
            top: 35px;
            left: 5%;
            z-index: 1;
        }
        .logo-2 {
            position: absolute;
            box-sizing: border-box;
            width: 200px;
            height: auto;
            margin: 0;
            padding: 0;
            top: 35px;
            left: 5%;
            z-index: 2;
            opacity: 0;
            
        }
    }
    .shortcut {
        position: absolute;
        font-size: 1.125em;
        font-weight: 700;
        padding: 3px 10px;
        margin-top: 0;
        background-color: v.$secondaire;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: -200px;
        // cible finale -> top: 20px;
        display: block;
        &:hover, &:focus {
            color: v.$txt_2;
            background-color: v.$primaire;
            top: 20px;
        }
    }
    .tags {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0 25% 0 21.5%;
        padding: 0;
        &__liste {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: fit-content;
            outline: none;
            &:focus {
                border-radius: 15px;
                border-bottom: 1px solid v.$secondaire;
            }
            .tag {
                font-size: 0.75em;
                font-weight: 500;
                color: v.$primaire;
                border: 0.5px solid v.$shadow;
                border-radius: 11px;
                padding: 3px 5px;
                margin: 3px;
                cursor: pointer;
                &:hover, &:focus {
                   color: v.$txt_2;
                   background-color: v.$primaire;
                } 
            }
        }
    }
    #tag-selected {
        color: v.$txt_2;
        background-color: v.$secondaire;
    }
}